.search-bar{
    display: block;
    border-radius: 10px;
    border: none;
    font-family: $paragraph-font;
    font-size: 1rem;
    font-weight: 300;
    font-style: italic;
    padding: 0 1rem;
    height: 2.5rem;
    margin-left: 1.5rem;
}