// variables colors
$gradient: linear-gradient(to right, #4b4ea2, #e14444);
$card-color: #363333;
$blue-button: #4B7CFB;
$red-button: #BF3A30;
$font-color: white;

// variables police
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
$title-font:"Permanent Marker", cursive;
$paragraph-font: "Roboto", sans-serif;

// variables size 
$small-image-size: 100px;
$big-image-size: 150px;